@using Models
@model IEnumerable<Instructor>

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="~/css/instructors.css" />
        <title>Instructors</title>
    </head>
    <body>
        <!--div class="mt-4">
            <div class="card-header bg-dark bg-gradient ml-0 py-3">
                <div class="row">
                    <div class="col-12 text center">
                        <h2 class="text-white py-2 text-center">Our Instructors</h2>
                    </div>
                </div>
            </div>
        </div-->
        <h1 class="title">Our Instructors</h1>

        <div class="container">
            @foreach (var instructor in Model)
            {
                <div class="instructor">
                    <a asp-area="Public" asp-action="Details" asp-route-instructorId="@instructor.Id" class="image-wrapper">
                        <img class="image" src="@instructor.ImageUrl" />
                    </a>
                    <p class="name">@instructor.Name @instructor.Surname</p>
                    <p class="courses">Hip-Hop / Keke</p>
                </div>
            }
        </div>
    </body>
</html>
