@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/homepage/banner.css" />
    <link rel="stylesheet" href="~/css/homepage/contact.css" />
    <title>Fuego Sanat Akademisi</title>
</head>
    <body>
        <!-- Banner section -->
        <section>
            <div class="banner">
                <div class="banner-content">
                    <h1>
                        2024 Dersleri Başladı!
                    </h1>
                    <p>
                        Fuego sanat ateşini keşfedin!<br />
                        Çeşitli ders içeriklerimize göz atıp bize katılın.
                    </p>

                    <div>
                        <button>Dersler</button>
                        <button>Eğitmenler</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact section -->
        <section>
            <div class="contact-wrapper">
                <div class="contact">
                    <img src="~/images/homepage/insta-icon.png" alt="" class="icon" />
                    <h2>Instagram</h2>
                    <p>Fuego<br />Akademi</p>
                    <a
                    class="contact-anchor insta-anchor"
                    href="https://www.instagram.com/fuegoakademi"
                    >Ziyaret Et</a
                    >
                </div>
                <div class="contact">
                    <img src="~/images/homepage/world-icon.png" alt="" class="icon" />
                    <h2>Konum</h2>
                    <p>
                    Turan Güneş Bulvarı No:28 B Blok<br />
                    Kat:1 Daire No:3 Çankaya/Ankara
                    </p>
                    <a class="contact-anchor maps-anchor" href="https://maps.app.goo.gl/wUex9cwbn6BC94Ly6">Harita</a>
                </div>
                <div class="contact">
                    <img src="~/images/homepage/phone-icon.png" alt="" class="icon" />
                    <h2>İletişim</h2>
                    <p>
                    +90 (532) 133 03 04<br />
                    fuegoakademi@gmail.com
                    </p>
                    <a class="contact-anchor phone-anchor" href="tel:+905321330304">Telefon</a>
                    <a
                    class="contact-anchor mail-anchor"
                    href="mailto:fuegoakademi@gmail.com"
                    >Email</a
                    >
                </div>
            </div>
        </section>
    </body>
</html>