@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/home_page.css" />
        <title>Document</title>
    </head>
    <body>
        <section>
            <div class="contact-wrapper">
            <div class="contact">
                <img src="~/images/home_page/insta-icon.png" alt="" class="icon" />
                <h2>Instagram</h2>
                <p>Fuego<br />Akademi</p>
                <a
                class="contact-anchor insta-anchor"
                href="https://www.instagram.com/fuegoakademi"
                >Ziyaret Et</a
                >
            </div>
            <div class="contact">
                <img src="~/images/home_page/world-icon.png" alt="" class="icon" />
                <h2>Konum</h2>
                <p>
                Turan Güneş Bulvarı No:28<br />
                B Blok Kat:1 Daire No:3 Çankaya/Ankara
                </p>
                <a class="contact-anchor maps-anchor" href="">Harita</a>
            </div>
            <div class="contact">
                <img src="~/images/home_page/phone-icon.png" alt="" class="icon" />
                <h2>İletişim</h2>
                <p>
                +90 (532) 133 03 04<br />
                fuegoakademi@gmail.com
                </p>
                <a class="contact-anchor phone-anchor" href="tel:+905321330304"
                >Telefon</a
                >
                <a
                class="contact-anchor mail-anchor"
                href="mailto:fuegoakademi@gmail.com"
                >Email</a
                >
            </div>
        </div>
        </section>
    </body>
</html>