@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/homepage/banner.css" />
    <link rel="stylesheet" href="~/css/homepage/contact.css" />
    <link rel="stylesheet" href="~/css/homepage/side-scroll.css" />
    <title>Fuego Sanat Akademisi</title>
</head>
<body>
    <!-- Banner section -->
    <section>
        <div class="banner">
            <div class="banner-content">
                <h1>
                    2024 Dersleri Başladı!
                </h1>
                <p>
                    Fuego sanat ateşini keşfedin!<br />
                    Çeşitli ders içeriklerimize göz atıp bize katılın.
                </p>

                <div>
                    <button>Dersler</button>
                    <button>Eğitmenler</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Introduction section -->
    <section>
        <div class="introduction">
            <h1>
                Lorem Ipsum Dolor Sit<br />
                Amet Consectetur Adipiscing
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
            </p>
        </div>
    </section>

    <!-- Side scrolling activities section -->
    <section>
        <!-- Carousel buttons -->
        <button onclick="clickLeft()" class="scroll-button left">
            &#8656;
        </button>
        <button onclick="clickRight()" class="scroll-button right">
            &#8658;
        </button>

        <div class="side-scroller snaps-inline">
            <div class="scroll-element">
                <img src="~/images/homepage/activity1.png" alt="Activity image" />
                <div>
                    <h1>Activity 1 Temp</h1>
                    <p>
                        Temporary paragraph for this activity. Temporary paragraph for this activity.
                        Temporary paragraph for this activity. Temporary paragraph for this activity.
                    </p>
                </div>
            </div>
            <div class="scroll-element">
                <img src="~/images/homepage/activity2.png" alt="Activity image" />
                <div>
                    <h1>Activity 2 Temp</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="scroll-element">
                <img src="~/images/homepage/activity1.png" alt="Activity image" />
                <div>
                    <h1>Activity 1 Temp</h1>
                    <p>
                        Temporary paragraph for this activity. Temporary paragraph for this activity.
                        Temporary paragraph for this activity. Temporary paragraph for this activity.
                    </p>
                </div>
            </div>
            <div class="scroll-element">
                <img src="~/images/homepage/activity2.png" alt="Activity image" />
                <div>
                    <h1>Activity 2 Temp</h1>
                    <p>
                        Temporary paragraph for this activity. Temporary paragraph for this activity.
                    </p>
                </div>
            </div>
            <div class="scroll-element">
                <img src="~/images/homepage/activity1.png" alt="Activity image" />
                <div>
                    <h1>Activity 1 Temp</h1>
                    <p>
                        Temporary paragraph for this activity. Temporary paragraph for this activity.
                        Temporary paragraph for this activity. Temporary paragraph for this activity.
                    </p>
                </div>
            </div>
            <div class="scroll-element">
                <img src="~/images/homepage/activity2.png" alt="Activity image" />
                <div>
                    <h1>Activity 2 Temp</h1>
                    <p>
                        Temporary paragraph for this activity. Temporary paragraph for this activity.
                    </p>
                </div>
            </div>
            <div class="scroll-element">
                <img src="~/images/homepage/activity1.png" alt="Activity image" />
                <div>
                    <h1>Activity 1 Temp</h1>
                    <p>
                        Temporary paragraph for this activity. Temporary paragraph for this activity.
                        Temporary paragraph for this activity. Temporary paragraph for this activity.
                    </p>
                </div>
            </div>
            <div class="scroll-element">
                <img src="~/images/homepage/activity2.png" alt="Activity image" />
                <div>
                    <h1>Activity 2 Temp</h1>
                    <p>
                        Temporary paragraph for this activity. Temporary paragraph for this activity.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact section -->
    <section>
        <div class="contact-wrapper">
            <div class="contact">
                <img src="~/images/homepage/insta-icon.png" alt="" class="icon" />
                <h2>Instagram</h2>
                <p>Fuego<br />Akademi</p>
                <a class="contact-anchor insta-anchor"
                   href="https://www.instagram.com/fuegoakademi">Ziyaret Et</a>
            </div>
            <div class="contact">
                <img src="~/images/homepage/world-icon.png" alt="" class="icon" />
                <h2>Konum</h2>
                <p>
                    Turan Güneş Bulvarı No:28 B Blok<br />
                    Kat:1 Daire No:3 Çankaya/Ankara
                </p>
                <a class="contact-anchor maps-anchor" href="https://maps.app.goo.gl/wUex9cwbn6BC94Ly6">Harita</a>
            </div>
            <div class="contact">
                <img src="~/images/homepage/phone-icon.png" alt="" class="icon" />
                <h2>İletişim</h2>
                <p>
                    +90 (532) 133 03 04<br />
                    fuegoakademi@gmail.com
                </p>
                <a class="contact-anchor phone-anchor" href="tel:+905321330304">Telefon</a>
                <a class="contact-anchor mail-anchor"
                   href="mailto:fuegoakademi@gmail.com">Email</a>
            </div>
        </div>
    </section>

    @section Scripts {
        <script>
            const scrollContainer = document.querySelector(".side-scroller");

            function clickLeft() {
                scrollContainer.scroll({
                    left: scrollContainer.scrollLeft - getScrollElementWidth(),
                    behavior: 'smooth'
                });
            }

            function clickRight() {
                scrollContainer.scroll({
                    left: scrollContainer.scrollLeft + getScrollElementWidth(),
                    behavior: 'smooth'
                });
            }

            function getScrollElementWidth() {
                return scrollContainer.querySelector(".scroll-element").clientWidth;
            }
        </script>
    }

</body>
</html>