@using Models
@model CourseType

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text center">
                <h2 class="text-white py-2">Edit Course Type</h2>
            </div>
        </div>
    </div>
</div>

<form method="post" class="row">
    <input asp-for="Id" hidden />

    <div class="form-floating py-2 col-12">
        <input asp-for="Type" class="form-control border-o shadow" />
        <label asp-for="Type" class="ms-2"></label>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-primary form-control">Update</button>
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="CourseType" asp-action="Index" class="btn btn-outline-secondary border form-control">
                <i class="bi bi-caret-left"></i> Back to List
            </a>
        </div>
    </div>
</form>