@using Models
@model List<CourseStudent>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text center">
                <h2 class="text-white py-2">Course Students List</h2>
            </div>
        </div>
    </div>
</div>
<div class="card-body p-4">
    <div class="row pb-3">
        <div class="col-6">
        </div>
        <div class="col-6 text-end">
            <a asp-controller="CourseStudent" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create Course-Student Pair
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Course</th>
                <th>Student</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr id="row_@obj.Id">
                    <td>@obj.Course.Title</td>
                    <td>@obj.ApplicationUser.Email</td>
                    <td>
                        <div class="d-flex justify-content-between" style="flex-wrap: wrap">
                            <a asp-controller="CourseStudent" asp-action="Upsert" asp-route-id="@obj.Id" class="w-75 btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a onClick="Delete('coursestudent/delete/@obj.Id')" class="w-75 btn btn-danger mx-2">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/js/common2.js" defer></script>
}