.schedule-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    row-gap: 20px;
}

.day {
    padding: 0 15px 0 15px;
    margin-bottom: 0;
}

.hour-container {
    text-align: center;
    padding-top: 5px;
    padding: 5px 10px 5px 10px;
}

.hour {
    margin-bottom: 5px;
}
