<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fuego Sanat Akademisi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min-sandstone.css" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FuegoWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-black" data-bs-theme="dark" style="font-size: 1.2rem !important; position: fixed; top: 0; width: 100%; z-index: 999;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Public" asp-controller="Home" asp-action="Index">FuegoWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Public" asp-controller="Home" asp-action="Index">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Public" asp-controller="Instructor" asp-action="Index">
                                Instructors
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Courses
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Public" asp-controller="Course" asp-action="Index">All Courses</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Public" asp-controller="Course" asp-action="Index">My Courses</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Public" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if(User.IsInRole(ApplicationRoles.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Content Management
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Instructor" asp-action="Index">Instructors</a>
                                </li>

                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Course" asp-action="Index">Courses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="CourseType" asp-action="Index">Course Types</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="CourseStudent" asp-action="Index">Course-Students</a>
                                </li>

                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ApplicationUser" asp-action="Index">Users</a>
                                </li>
                            </ul>
                        </li>
                        }
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <div style="margin-top: 100px;"></div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FuegoWeb - <a asp-area="Public" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
