@using Models
@model Instructor

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text center">
                <h2 class="text-white py-2">Create Instructor</h2>
            </div>
        </div>
    </div>
</div>

<form method="post" class="row" enctype="multipart/form-data">
    <input asp-for="ImageUrl" hidden />
    <!--div asp-validation-summary="All"></div-->

    <div class="form-floating py-2 col-12">
        <input asp-for="Name" class="form-control border-o shadow" />
        <label asp-for="Name" class="ms-2"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-floating py-2 col-12">
        <input asp-for="Surname" class="form-control border-1 shadow" />
        <label asp-for="Surname" class="ms-2"></label>
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="py col-12">
        <label asp-for="Description" class="ms-2 text-muted"></label>
        <textarea asp-for="Description" class="form-control border-o shadow"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="py col-12">
        <label asp-for="InstagramLink" class="ms-2 text-muted"></label>
        <textarea asp-for="InstagramLink" class="form-control border-o shadow"></textarea>
        <span asp-validation-for="InstagramLink" class="text-danger"></span>
    </div>

    <div class="form-floating py-2 col-12">
        <input asp-for="LastPayment" class="form-control border-o shadow" />
        <label asp-for="LastPayment" class="ms-2"></label>
        <span asp-validation-for="LastPayment" class="text-danger"></span>
    </div>

    <div class="form-floating py-2 col-12">
        <input type="file" name="file" class="form-control border-o shadow" />
        <label asp-for="ImageUrl" class="ms-2"></label>
    </div>

    <div class="row">
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-primary form-control">Create</button>
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="Instructor" asp-action="Index" class="btn btn-outline-secondary border form-control">
                <i class="bi bi-caret-left"></i> Back to List
            </a>
        </div>
    </div>
</form>

@{
    <partial name="_ValidationScriptsPartial" />
}