.course-header {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    border-bottom: solid;
    border-width: 1px;
    border-color: darkgray;
}

.instructor-info {
    display: flex;
    align-items: center;
}

.instructor-image {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    border-radius: 25px;
}

.instructor-name {
    padding-top: 10px;
    vertical-align: middle;
}

.course-image {
    float: left;
    width: 300px;
    height: auto;
    padding-right: 15px;
    border-radius: 10px;
}

.course-type {
    color: rgba(230, 180, 100);
    font-size: 1.2rem;
}
