* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Calibri;
    box-sizing: border-box;
}

:root {
    --offwhite: #F5F5F5;
    --darkgray: #3A3A3A;
    --gray: #8a8a8a;
    --lightgray: #b1b1b1;
    --darkblue: #001122;
}

body {
    background-color: var(--offwhite);
}
