.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin: 50px 10px 50px 10px;
}

.contact {
    min-width: 230px;
    min-height: 260px;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px 20px 10px 20px;
    border: solid 1px #cdcdcd;
    border-radius: 50px;
    box-shadow: 0px 10px 10px #888888;
}

    .contact > .icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
    }

    .contact > h2 {
        margin-bottom: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--darkgray);
    }

    .contact > p {
        font-size: 0.9rem;
        color: var(--gray);
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.contact-anchor {
    display: inline-block;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-top: 5px;
    color: white;
    border-radius: 35px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.insta-anchor {
    --_insta-color: #61C478;
    background-color: var(--_insta-color);
    border: 2px solid var(--_insta-color);
    transition: 0.25s;
    width: 110px;
}

    .insta-anchor:hover {
        background-color: var(--offwhite);
        color: var(--_insta-color);
        border: 2px solid var(--_insta-color);
    }

.maps-anchor {
    --_maps-color: #EB8692;
    background-color: var(--_maps-color);
    border: 2px solid var(--_maps-color);
    transition: 0.25s;
}

    .maps-anchor:hover {
        background-color: var(--offwhite);
        color: var(--_maps-color);
        border: 2px solid var(--_maps-color);
    }

.mail-anchor {
    --_mail-color: #7D9CD8;
    background-color: var(--_mail-color);
    border: 2px solid var(--_mail-color);
    transition: 0.25s;
    margin-left: 5px;
}

    .mail-anchor:hover {
        background-color: var(--offwhite);
        color: var(--_mail-color);
        border: 2px solid var(--_mail-color);
    }

.phone-anchor {
    --_phone-color: #F5AD57;
    background-color: var(--_phone-color);
    border: 2px solid var(--_phone-color);
    transition: 0.25s;
}

    .phone-anchor:hover {
        background-color: var(--offwhite);
        color: var(--_phone-color);
        border: 2px solid var(--_phone-color);
    }
    
    .phone-anchor > span {
        margin-left: 50px;
    }
